/*Botoes*/
.btn{
  padding: 8px 20px;
  border:1px solid transparent;
  cursor: pointer;
  margin: 4px;
  @include border-radius($border-radius);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: $btn-normal;
  color: #333;
}

//Default
.btn:disabled,
.btn.desativado{
  opacity: 0.4;
  border-color: $cinza;
  cursor: not-allowed;
}

.btn:not(.desativado):hover{
  background: darken($btn-normal, $btn-darken);
  color: #fff;
}
.btn.primario{
  background: $btn-primario;
  color: #fff;
}

.btn.primario:not(.desativado):hover{
  background: darken($btn-primario, $btn-darken);
  color: #fff;
}


.btn.secundario{
  background: $btn-secundario;
  color: #fff;
}

.btn.secundario:not(.desativado):hover{
  background: darken($btn-secundario, $btn-darken);
  color: #fff;
}
.btn.sucesso{
  background: $btn-sucesso;
  color: #fff;
}

.btn.sucesso:not(.desativado):hover{
  background: darken($btn-sucesso, $btn-darken);
  color: #fff;
}
.btn.info{
  background: $btn-info;
  color: #fff;
}

.btn.info:not(.desativado):hover{
  background: darken($btn-info, $btn-darken);
  color: #fff;
}
.btn.atencao{
  background: $btn-atencao;
  color: #fff;
}

.btn.atencao:not(.desativado):hover{
  background: darken($btn-atencao, $btn-darken);
  color: #fff;
}
.btn.alerta{
  background: $btn-alerta;
  color: #fff;
}

.btn.alerta:not(.desativado):hover{
  background: darken($btn-alerta, $btn-darken);
  color: #fff;
}

//Linha
.btn.linha,
.linha{
  border-width: 2px;
  padding: 7px 19px;
  background: transparent !important;
  text-shadow: none !important;
}

.btn.linha:disabled,
.btn.linha.desativado{
  border-color: $cinza;
  cursor: not-allowed;
  color: $cinza-escuro;
}

.btn.linha{
  border-color: $btn-normal;
  color: $btn-normal;
}

.btn.linha:not(.desativado):hover{
  border-color: darken($btn-normal,30%);
  color: darken($btn-normal,30%);
}
.btn.primario.linha{
  border-color: $btn-primario;
  color: $btn-primario;
}

.btn.primario.linha:not(.desativado):hover{
  border-color: lighten($btn-primario, $btn-light);
  color: lighten($btn-primario, $btn-light);
}

.btn.secundario.linha{
  border-color: $btn-secundario;
  color: $secundario;
}

.btn.secundario.linha:not(.desativado):hover{
  border-color: lighten($btn-secundario, $btn-light);
  color: lighten($btn-secundario, $btn-light);
}
.btn.sucesso.linha{
  border-color: $btn-sucesso;
  color: $btn-sucesso;
}

.btn.sucesso.linha:not(.desativado):hover{
  border-color: lighten($btn-sucesso, $btn-light);
  color: lighten($btn-sucesso, $btn-light);
}
.btn.info.linha{
  border-color: $btn-info;
  color: $btn-info;
}
.btn.info.linha:not(.desativado):hover{
  border-color: lighten($btn-info, $btn-light);
  color: lighten($btn-info, $btn-light);
}

.btn.atencao.linha{
  border-color: $btn-atencao;
  color: $btn-atencao;
}

.btn.atencao.linha:not(.desativado):hover{
  border-color: lighten($btn-atencao, $btn-light);
  color: lighten($btn-atencao, $btn-light);
}
.btn.alerta.linha{
  border-color: $btn-alerta;
  color: $btn-alerta;
}

.btn.alerta.linha:not(.desativado):hover{
  border-color: lighten($btn-alerta, $btn-light);
  color: lighten($btn-alerta, $btn-light);
}
//Circle
.btn.circle, .circle{
  width: 38px;
  height: 37px;
  padding: 0;
  text-align: center;
  @include border-radius(50%);
}

//Botão ativo
//Normal


.btn.ativado:not(.linha){color: #fff;}
.btn.ativado.linha{
  border-color: darken($btn-normal, $btn-darken+5%);
  color: darken($btn-normal, $btn-darken+5%);
}
.btn.ativado.linha:hover{
  border-color: darken($btn-normal, $btn-darken+5%) !important;
  color: darken($btn-normal, $btn-darken+5%);
}

//Normal
.btn.ativado:not(.linha){
  background: darken($btn-normal, $btn-darken+5%);
  color: #fff;
}

.btn.ativado.linha{
  border-color: darken($btn-normal, $btn-darken+5%);
  color: darken($btn-normal, $btn-darken+10%);
}

//Primario
.btn.primario.ativado:not(.linha){
  background: darken($btn-primario, $btn-darken+5%);
  color: #fff;
}
.btn.primario.ativado.linha{
  border-color: darken($btn-primario, $btn-darken+5%);
  color: darken($btn-primario, $btn-darken+5%);
}
.btn.primario.ativado.linha:hover{
  border-color: darken($btn-primario, $btn-darken+5%) !important;
  color: darken($btn-primario, $btn-darken+5%);
}

//Secundário
.btn.secundario.ativado:not(.linha){
  background: darken($btn-secundario, $btn-darken+5%);
  color: #fff;
}
.btn.secundario.ativado.linha{
  border-color: darken($btn-secundario, $btn-darken+5%);
  color: darken($btn-secundario, $btn-darken+5%);
}
.btn.secundario.ativado.linha:hover{
  border-color: darken($btn-secundario, $btn-darken+5%) !important;
  color: darken($btn-secundario, $btn-darken+5%);
}

//Sucesso
.btn.sucesso.ativado:not(.linha){
  background: darken($btn-sucesso, $btn-darken+5%);
  color: #fff;
}
.btn.sucesso.ativado.linha{
  border-color: darken($btn-sucesso, $btn-darken+5%);
  color: darken($btn-sucesso, $btn-darken+5%);
}
.btn.sucesso.ativado.linha:hover{
  border-color: darken($btn-sucesso, $btn-darken+5%) !important;
  color: darken($btn-sucesso, $btn-darken+5%);
}

//Info
.btn.info.ativado:not(.linha){
  background: darken($btn-info, $btn-darken+5%);
  color: #fff;
}
.btn.info.ativado.linha{
  border-color: darken($btn-info, $btn-darken+5%);
  color: darken($btn-info, $btn-darken+5%);
}
.btn.info.ativado.linha:hover{
  border-color: darken($btn-info, $btn-darken+5%) !important;
  color: darken($btn-info, $btn-darken+5%);
}

//Atenção
.btn.atencao.ativado:not(.linha){
  background: darken($btn-atencao, $btn-darken+5%);
  color: #fff;
}
.btn.atencao.ativado.linha{
  border-color: darken($btn-atencao, $btn-darken+5%);
  color: darken($btn-atencao, $btn-darken+5%);
}
.btn.atencao.ativado.linha:hover{
  border-color: darken($btn-atencao, $btn-darken+5%) !important;
  color: darken($btn-atencao, $btn-darken+5%);
}
//Alerta
.btn.alerta.ativado:not(.linha){
  background: darken($btn-alerta, $btn-darken+5%);
  color: #fff;
}
.btn.alerta.ativado.linha{
  border-color: darken($btn-alerta, $btn-darken+5%);
  color: darken($btn-alerta, $btn-darken+5%);
}
.btn.alerta.ativado.linha:hover{
  border-color: darken($btn-alerta, $btn-darken+5%) !important;
  color: darken($btn-alerta, $btn-darken+5%);
}

//\-Botão ativo


/*\-Botões*/