//Cores principais
$primario:#0078E7;
$secundario:#42B8DD;
$cinza-claro:#E6E6E6;
$cinza:#D1D1D1;
$cinza-escuro:lighten(black,50%);
$sucesso: #1CB841;
$info: #0af;
$atencao: #DF7514;
$alerta: #CA3C3C;
//\-Cores principais

//Geral
$border-radius:4px;
//\-Geral

//Cores dos botões
$btn-padding:8px;
$btn-darken:10%;
$btn-light:10%;
$btn-normal:$cinza;
$btn-primario:$primario;
$btn-secundario:$secundario;
$btn-sucesso:$sucesso;
$btn-info:$info;
$btn-atencao:$atencao;
$btn-alerta:$alerta;
$btn-desativado:$cinza-claro;
//\-Cores botoes*/